<div class="container mt-4">
    <button type="button" class="btn btn-success mb-3" onclick="crearEstudiante()">
        <i class="bi bi-plus"></i> Agregar Estudiante
    </button>

    <table id="tablaEstudiante" class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad / Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="userTable"></tbody>
    </table>

</div>

<!-- Modal -->
<div class="modal fade" id="modalId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formUser" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleId">Agregar Estudiante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nameId" placeholder="Ingrese nombre">
                    <label for="nameId">Ingrese nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="dateId" placeholder="Ingrese edad">
                    <label for="dateId">Ingrese edad</label>
                </div>
                <input type="hidden" id="editIndex">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/estudiantes.js"></script>
}